@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Condensed:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}
.body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
.card {
    position: relative;
    width: 400px;
    height: 250px;
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #aa0505 , #fbca03);
    border-radius: 10px;
}
.card-image{
    background: url("../../assets/img/ironman.png") center center / cover ;
    height: 350px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s;
}
.card:hover .card-image {
    background: url('../../assets/img/ironman3.png') center center/cover;
    height: 450px;
    left: 75%;
    bottom: -50px;
 }
 .card-content{
    position: absolute;
    width: 40%;
    color: white;
    transition: all 0.4s;
    left: 40%;
    opacity: 0;
}
.card:hover .card-content {
    left: 5%;
    opacity: 1;
}
.card-text {
    margin-bottom: 20px;
    font-size: 14px;
  
}
.card-title {
    font-size: 20px;
}
.card-button {
    position: relative;
    display: inline-block;
    background-color: white;
    color: black;
    font-weight: 900;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 12px;
}
.card-button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}