.body {
    background: linear-gradient(45deg, rgb(235, 83, 141), rgb(238, 135,51) );
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}
.mytext {
    font-size: 8em;
    font-weight: 600;
    fill: rgba(white, 0.2);
    stroke: rgba(white, 0.6);
    stroke-width: 2px;
    stroke-dasharray: 50;
    animation: draw 3s ease-in-out infinite;
}

@keyframes draw {
    100% {
        stroke-dashoffset: 100;
    }
}