

  .loader {
    z-index: 10;
    animation:  go 5s infinite linear;
  }
  @keyframes go {
   
    20% {
        background: conic-gradient(green 0% , green 20% , transparent 20%);
    }
    40% {
        background: conic-gradient(green 0% , green 40% , transparent 40%);
    }
    60% {
        background: conic-gradient(green 0% , green 60% , transparent 60%);
    }
    80% {
        background: conic-gradient(green 0% , green 80% , transparent 80%);
    }
    100% {
        background: conic-gradient(green 0% , green 100% , transparent 100%);
    }

  }