.playerGeneral {
   
    border: 1px solid gray;
    box-sizing: border-box;
    color: red;
    margin: 10px;
    padding: 5px;
    width: 90px;
    height: 90px;
    display: flex;
    flex-flow: column;
}
.body {
    display: flex;
    flex-flow: column;
   
    background-image: linear-gradient(to right, #6ab04c, orange);
    justify-content: center;
    align-content: center;
   
  
}
.button {
    margin: 20px
}

.field {
    top: 5px;
    width: 400px;
    height: 800px;
    box-sizing: border-box;
    border: 1px solid red;
    color: red;
    margin: 0px 40px auto;
    position: absolute;
}
.left {
    display: flex;
    flex-flow: column;
   
    width: 100px;
    height: 500px;
    margin: 0px;
    position: absolute;


}
.right {
   
    display: flex;
    flex-flow: column;
    position: absolute;
    right: 0px;
  
}
.footer {
    margin: 5px 30px auto;
   
    box-sizing: border-box;
   
    width: 400px;
    height: 100px;
    top: 750px;
    position: absolute;
 
    display: flex;
    color: white
}


.text {
    color: white;
}
.tools {
    color: red;
}
.chat {
  margin: 10px
}
.wallet {
    margin: 10px
}


@media (min-width: 500px) {
    .playerGeneral {
        background-color: pink;
        border-radius: 60px;
        border: 1px solid pink;
        box-sizing: border-box;
        color: red;
        margin: 10px 0px auto;
        padding: 0px;
        width: 100px;
        height: 100px;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }
    .playerInner{
      
        
    }
    .playerText {
        color: white;
        background-color: blue;
        margin: 10px;
        top: 0px
       
    }
    .photo {
        width: 50px;
        height: 50px;
        background-color: white;
    }
    
    .body {
        display: flex;
        flex-flow: row;
        width: 1000px;
        height: 900px;
        box-sizing: border-box;
        margin: 5px auto;
      
        background-image: linear-gradient(to right,#166461, #6ab04c, #badc58,#6ab04c, #166461);
      
      
    }
    
    
    .field {
        width: 400px;
        height: 650px;
        box-sizing: border-box;
        border: 1px solid red;
        color: red;
        margin:  0;
        padding: 10px;
        position: relative;
        
    }
    .left {
        display: flex;
        flex-flow: column;
       
        width: 100px;
        height: 500px;
        margin: 0px;
        position: absolute;

       
        left: 450px;
    }
    .right {
        display: flex;
        flex-flow: column;
       
        width: 120px;
        height: 500px;
        margin: 0px;
        position: absolute; 
        
       right: 450px;
       
      
      
    }
    .footer1 {
        display: flex;
        flex-flow: row;
        position: absolute;
        box-sizing: border-box;
        border: 1px solid red;
        bottom: 110px;
        width: 800px;
        justify-content:space-between;
        align-items: center;
        
    }
    .f1 {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }
    
    .footer2 {
        display: flex;
        flex-flow: row;
        position: absolute;
        box-sizing: border-box;
        border: 1px solid red;
        bottom: 20px;
        height: 70px;
        width: 800px;
        justify-content: space-between;
    }
    .text {
        color: white;
    }
    .buttons{
        display: flex;
        flex-flow: row;
    }
    .baseTools{
        display: flex;
        flex-flow: row;
        justify-content:space-between;
        align-items: center;
        padding: 10px;
        margin: 10px;
    }
    .tools {
        color: red;
        width: 50px;
        height: 50px;
        background-color: white;
        margin: 10px;
        
    }
    .chat {
      margin: 10px
    }
    .wallet {
        margin: 10px
    }
}