.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
    overflow: hidden;
    perspective: 2000px;
    perspective-origin: 50% calc(50% - 300px);
}
.room {
    position: relative;
    transform-style: preserve-3d;
}
.floor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: antiquewhite;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(90deg);
}
.ballShadow {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: radial-gradient(#0008, 40%, #0000);
    animation: ballShadow 1s infinite ease-in;
    filter: blur(15px)
}
@keyframes ballShadow {
    0%, 100% {
        transform: scale(2);
        opacity: 0.4;
    }
    50% {
        transform: scale(1);
        opacity: 1s;
        animation-timing-function: ease-out;
    }
}
.ball{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    bottom: 200px;
    transform: translateX(-50%);
    background-image: radial-gradient(circle at top, orange , 70%, #000);
    animation: ballBounce 1s infinite ease-in;
}
@keyframes ballBounce {
    0%,
    100%{
        bottom: 200px;
    }
    50% {
        bottom: 0;
        animation-timing-function: ease-out;
    }
}