

.lessonPage {
    color: white;
    width: 100%;
  
}


@media (min-width: 500px) {
    .lessonPage {
        color: white;
      
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }
    .body {
        display: flex;
        flex-direction: row;
        margin: auto;
    }
}