.body {
    justify-content: center;
    background-color: #383030;
    align-items: center;
}

.lessonPage {
    color: white;
   
  
}
@media only screen and (max-width: 999px) {

}
@media only screen and (max-width: 768px) {
    .lessonPage {
        color: white;
      
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }
    .body {
        display: flex;
        flex-direction: row;
        margin: auto;
    }
}

