.body {
    justify-content: center;
    background-color: #383030;
    align-items: center;
}

.lessonPage {
    color: white;
    margin: 10px auto;
   
   
  
}
.auth {
    color: red;
}
.vid {
    display: flex;
    flex-direction: column;
    width: 500px;
    height:300px;
   
    margin: 10px;
     
 }
@media only screen and (max-width: 999px) {

}
@media only screen and (max-width: 768px) {
    .lessonPage {
        color: white;
      
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }
    .body {
        display: flex;
        flex-direction: row;
        margin: auto;
    }
}

