.saytan {
   color: white;
    background-color: #020230;
    height: 100vh;
    width: 1780px;
    display: flex;
}
.main {
    width: 75%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #020230), url("../../../../assets/background/320234921_1134601357194610_9061463601763586962_n.jpg");
}
.top {
    height: 50%;
    position: relative;
}
.bottom {
    height: 50%;
}
.timer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px ;
    font-weight:700;
    position: absolute;
    bottom: 10px;
    left: 80px;
}
.pyramid {
    width: 25%; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.moneyList {
    list-style: none;
    width: 100%;
    padding: 20px;

}
.moneyListItem {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}
.moneyListItem.active{
    background-color: teal;
}
.moneyListItemNumber {
    font-size: 18px;
    font-weight: 100;
}
.moneyListItemAmount {
    font-size: 20px;
    font-weight: 300;
}