

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
width: 100%;
height: 60px;
    background-color: #383030;
    position: fixed;
    top: 0;
    left: 0;
   z-index: 90;
   
}

.icon {
    color: white;
    width: 30px;
    height: 30px;
    margin: 10px
}
.meduim {
    display: flex;
}
.btn {
   
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.25s ease-out;
}
.btn:hover{
    transform: scale(1.05);
    
}
.btn:active,
.btn.active {
    background-color: green;
}


@media (max-width: 900px) {
    .body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        background-color: #383030;
        position: fixed;
        top: 0;
        left: 0;
       z-index: 90;
       
    }
    .meduim {
        display: flex;
        justify-content: space-between;
        width: 60%;
       
       
    }
    .HideOnMobile {
        display: none;
    }
    .btn {
       display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        padding: 3px;
        border: 1px solid gray;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        cursor: pointer;
      
        transition: transform 0.25s ease-out;
    }
    .btn:hover {
        background-color: red;
    }
    .btn:active,
    .btn.active {
        background-color: green
    }
    .icon {
        color: white;
        width: 20px;
        height: 20px;
        margin: 10px
    }
    }


    @media (max-width: 500px) {
        .body {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0px;
            box-sizing: border-box;
            width: 100%;
            height: 40px;
            background-color: #383030;
            position: fixed;
            top: 0;
            left: 0;
           z-index: 90;
           
        }
        .meduim {
            display: flex;
           
        }
        .HideOnMobile {
            display: none;
        }
        .btn {
           display: flex;
           
            justify-content:space-between;
           
            font-size: 15px;
            font-weight: 400;
            border: 1px solid gray;
            border-radius: 5px;
            width: 100%;
            height: 100%;
            padding: 4px;
            cursor: pointer;
            transition: transform 0.25s ease-out;
        }
        .btn:hover {
            background-color: red;
        }
        .btn:active,
        .btn.active {
            background-color: green
        }
        .icon {
            color: white;
            width: 15px;
            height: 15px;
            margin: 5px
        }
}