.slider {
    width: 100%;
    height: 2px;
    background-color: #cdd9ed;
    margin-top: 20px;
}
.slider .thumb{
    width: 23px;
    height: 23px;
    cursor: grab;
    background: #70E000;
    border-radius: 50%;
    border: 2px solid ;
    top: -10px;
    z-index: 10;
}
