.narniiAimag{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 700px;
    height: 700px;
}
.narniiAimag > div {
    position: absolute;
    border-radius: 50%;
    animation-name: orbit;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.narniiAimag > div > div {
    position: absolute;
    border-radius: 50%;
    left: 50%;
}
.nar{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: orange;
    border-radius: 50%;
}
.budOrbit{
    height: 100px;
    width: 100px;
    border: 2px solid gray;
    animation-duration: 3s;
}
.bud{
    height: 10px;
    width: 10px;
    background-color: gray;
    margin-top: -6px;
    margin-left: -10px;
}
.sugarOrbit{
    height: 150px;
    width: 150px;
    border: 2px solid yellow;
    animation-duration: 6s;
}
.sugar{
    height: 15px;
    width: 15px;
    background-color: yellow;
    margin-top: -10px;
    margin-left: -10px;
 
}
.delhiiOrbit{
    height: 200px;
    width: 200px;
    border: 2px solid lightblue;
    animation-duration: 11s;
}
.delhii{
    height: 18px;
    width: 18px;
    background-color: lightblue;
    margin-top: -10px;
    margin-left: -10px;

}
.angaragOrbit{
    height: 250px;
    width: 250px;
    border: 2px solid rgb(110, 58, 38);
    animation-duration: 12s;
}
.angarag{
    height: 15px;
    width: 15px;
    background-color: rgb(110, 58, 38);
    margin-top: -10px;
    margin-left: -10px;
}
.barhasOrbit{
    height: 350px;
    width: 350px;
    border: 2px solid rgb(192, 169, 160);
    animation-duration: 13s;
}
.barhas{
    height: 30px;
    width: 30px;
    background-color: rgb(192, 169, 160);
    margin-top: -10px;
    margin-left: -10px;
  
}
.sanchirOrbit{
    height: 450px;
    width: 450px;
    border: 2px solid rgb(218, 219, 154);
    animation-duration: 14s;
}
.sanchir{
    height: 25px;
    width: 25px;
    background-color: rgb(218, 219, 154);
    margin-top: -10px;
    margin-left: -10px;
}
.tengeriinvanOrbit{
    height: 550px;
    width: 550px;
    border: 2px solid rgb(154, 206, 219);
    animation-duration: 15s;
}
.tengeriinvan{
    height: 15px;
    width: 15px;
    background-color: rgb(154, 206, 219);
    margin-top: -10px;
    margin-left: -10px;
}
.dalaivanOrbit{
    height: 600px;
    width: 600px;
    border: 2px solid rgb(199, 134, 134);
    animation-duration: 16s;
}
.dalaivan{
    height: 15px;
    width: 15px;
    background-color: rgb(199, 134, 134);
    margin-top: -10px;
    margin-left: -10px;
}
@keyframes orbit {
    100% {
        transform: rotate(360deg);
    }
}