.lesson {
    display: flex;
    color: "red";
    flex-direction: column;
    background: #383030;
    border: 1px solid gray;
    margin: 5px;
    border-radius: 5px;
    width: 90%;
    height: 80%;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.25s ease-out;
}
.lesson:hover {
    transform: scale(1.05);
    background-color: #580E0E;
}
img {
    width: 30px;
    height: 30px;
}

@media (min-width: 500px) {
    .star {
        color: rgb(241, 161, 12);
    }
    .jump {
        background-color: rgb(87, 190, 242);
        border-radius: 10px;
        width: 180px;
        height: 40px;
       
       
    }
    .link {
        font-size: 30px;
        border: none;
        outline: none;
        color: white;
       
    }
    .lesson {
        display: flex;
        flex-direction: column;
        background: #383030;
        border: 1px solid gray;
        margin: 20px;
        border-radius: 5px;
       
        text-align: center;
        justify-content: space-between;
        align-items: center;
        height: 250px;
        width: 250px;
        padding: 10px;
        cursor: pointer;
        transition: transform 0.25s ease-out;
    }
    .lesson:hover {
        transform: scale(1.05);
    }
}