.body {
    margin: auto;
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid #EBEBEB;
    animation: rotate-cont 5s linear infinite;  
    background-color: #002233;
}
.ball1 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #70E000;
    animation: ball-1 1.05s linear infinite alternate;

}
.ball2 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #70E000;
    animation: ball-2 0.65s linear infinite alternate;
}
@keyframes rotate-cont {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes ball-1 {
    0% {
        bottom: calc(100% - 10px);
        right: calc(100% - 10px);
        transform: scale(0);
    }
    10% {
        transform: scale(1);
    }
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
        bottom: 0;
        right: 0;
    }
}
@keyframes ball-2 {
    0% {
        bottom: calc(100% - 10px);
        left: calc(100% - 10px);
        transform: scale(0);
    }
    10% {
        transform: scale(1);
    }
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
        bottom: 0;
        left: 0;
    }
}
