
.body {
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    margin: auto;
   
}
.content {
  
   
    
}
.right {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 50px;
}



