$h: 80px;
$w: 40px;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.base {
    font-family:  40px;
    font-family: monospace;
    min-height: 50vh;
    background: linear-gradient(45deg, #ffe1c5, #e4a066);
    display: flex;
    justify-content: center;
    align-items: center;
}
.clockk {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: $h;
    height: $h;
    background-color: #945915;
    padding: 0 $w;
    overflow: hidden;
    position: relative;
}
.hours,
.minutes,
.seconds {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $w/4;
    align-items: start;
}
.number {
    height: $h;
    width: $w;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.seconds__units {
    transform: translateY(0);
    animation: animateSecondUnits 10s steps(10, end) infinite;
}
@keyframes animateSecondUnits{
    100% {
        transform: translateY(-800px);
    }
}
.seconds__tens {
    transform: translateY(0);
    animation: animateSecondTens 60s steps(6, end) infinite;
}
@keyframes animateSecondTens{
    100% {
        transform: translateY(-480px);
    }
}

.minutes__units {
    transform: translateY(0);
    animation: animateMinutesUnits 600s steps(10, end) infinite;
}
@keyframes animateMinutesUnits{
    100% {
        transform: translateY(-800px);
    }
}
.minutes__tens {
    transform: translateY(0);
    animation: animateMinutsTens 3060s steps(6, end) infinite;
}
@keyframes animateMinutesTens{
    100% {
        transform: translateY(-480px);
    }
}

.hours__units {
    transform: translateY(0);
    animation: animateHoursUnits 36000s steps(10, end) infinite;
}
@keyframes animateHoursUnits{
    100% {
        transform: translateY(-800px);
    }
}
.hours__tens {
    transform: translateY(0);
    animation: animateHoursTens 108000s steps(6, end) infinite;
}
@keyframes animateHoursTens{
    100% {
        transform: translateY(-240px);
    }
}